@import url("layout_styles.css");

section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

section > img {
    height: 10rem;
    width: 10rem;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 3rem;
    color: #2E6DA5;
}

h3 {
    font-size: 1.5rem;
    color: #F44336;
}